#logo {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.oranje {
  color:#FF6600;
  font-weight:bold;
}
#title .try {
  font-size: 48px;
  position: relative;
  top: 0em;
  left: 1.5em;
  line-height: 450%
}

#title h2 {
  font-size: 32px;
  line-height: 100%;
}

#title .footnote {
  font-size: 20px;
}

#title .footnote img {
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

#yt div.big-grey-area {
  display: block;
  width: 960px;
  height: 720px;
  background-color: #333;
}

.uitleg {
  font-size: 32px;
  color: #333;
}
.dp-highlighter ol li {
  font-size:24px;
  line-height: 30px;
}
.dp-highlighter ol {
    background-color: #FFFFFF;
    color: #5C5C5C;
    list-style: decimal outside none;
    margin: 0 0 1px 100px !important;
    padding: 0;
}
.breadcrumb {
  display: none;
}
.active .breadcrumb {
  position: absolute;
  display: block; 
  top: -8em;
  font-size: 18px;
  color: #333;
}
ul.uitleg {
  margin-left: 1em;
  list-style-type:circle;
}
ul.uitleg li {
  padding-left: 1em;
}
